# Projeto 1 - Ci√™ncia dos Dados

Nome: Augusto Rocha Ribeiro


Nome: Lucas Franco Florentino

**Aten√ß√£o:** Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

**Em `filename`, coloque o nome do seu arquivo de dados!**

In [2]:
import os

filename = 'Havaianas.xlsx'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com a prova!')
else:
    print(f'N√£o encontrei o arquivo {filename} aqui no diret√≥rio {os.getcwd()}, ser√° que voc√™ n√£o baixou o arquivo?')

Encontrei o arquivo Havaianas.xlsx, tudo certo para prosseguir com a prova!

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [3]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Classifica√ß√£o
0  @jenyfferneves @osweasleyblog @betoparreira ad...              0
1  rt @paulor_ricardoo: havaianas branco combina ...              0
2  mas quem t√° fazendo essa associa√ß√£o √© vc... se...              0
3  do que adianta ter o p√© arrumadinho e o havaia...              0
4  @sbiannca_ caralho olha minhas perna truta , t...              0

In [4]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Classifica√ß√£o
0  @joshnaku delicia perfeito minecraft chinelo h...              0
1  vende-se foto dos meus p√©s feios com marca de ...              1
2  rt @ribeiro_d10: n√£o vejo a hora de chegar o v...              1
3  @ : estou indo de havaiana\neu: tem problema n...              1
4             menina com shorts saia e havaianas ü•∞ü•∞ü•∞              0

In [5]:
train['Classifica√ß√£o_1'] = train['Classifica√ß√£o'].astype('category')
test['Classifica√ß√£o_2'] = test['Classifica√ß√£o'].astype('category')

In [6]:
train.Classifica√ß√£o_1.cat.categories = ['Irrelevante', 'Relevante']
test.Classifica√ß√£o_2.cat.categories = ['Irrelevante', 'Relevante']
train.Classifica√ß√£o_1 = pd.Categorical(train.Classifica√ß√£o_1, categories=['Irrelevante','Relevante'])
test.Classifica√ß√£o_2 = pd.Categorical(test.Classifica√ß√£o_2, categories=['Irrelevante','Relevante'])

train.head(10)

,Treinamento,Classifica√ß√£o,Classifica√ß√£o_1
0,@jenyfferneves @osweasleyblog @betoparreira ad...,0,Irrelevante
1,rt @paulor_ricardoo: havaianas branco combina ...,0,Irrelevante
2,mas quem t√° fazendo essa associa√ß√£o √© vc... se...,0,Irrelevante
3,do que adianta ter o p√© arrumadinho e o havaia...,0,Irrelevante
4,"@sbiannca_ caralho olha minhas perna truta , t...",0,Irrelevante
5,rt @azulandeira: queria trabalhar de shorts e ...,0,Irrelevante
6,trabaia de havaianas do figueira,0,Irrelevante
7,@mrlborges @alanfonseca @aeciodepapelao pessoa...,0,Irrelevante
8,rt @barbosajujux: havaianas perde no√ß√£o do val...,1,Relevante
9,"@taisalbq sim amiga, hoje tava mais calor ele ...",1,Relevante

In [7]:
train.Classifica√ß√£o.value_counts(True, sort=False)

0    0.82
1    0.18
Name: Classifica√ß√£o, dtype: float64

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

Foi considerado relevante os coment√°rios que exaltavam o produto.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [8]:
import re 

def cleanup(text):
    #import string
    punctuation = '[!-.:?;]' # Note que os sinais [] s√£o delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    return text_subbed

In [9]:
from nltk.tokenize import TweetTokenizer
tweet_tokenizer = TweetTokenizer()

In [13]:
treino_limpo = pd.DataFrame(columns = ['Treinamento', 'Classifica√ß√£o'])

for i in range(len(train)):
    n = cleanup(train['Treinamento'].loc[i])
    treino_limpo.loc[i] = [n, train['Classifica√ß√£o'].loc[i]]
    
treino_limpo

                                           Treinamento Classifica√ß√£o
0    @jenyfferneves @osweasleyblog @betoparreira ad...             0
1    rt @paulor_ricardoo havaianas branco combina c...             0
2    mas quem t√° fazendo essa associa√ß√£o √© vc sei l...             0
3    do que adianta ter o p√© arrumadinho e o havaia...             0
4    @sbiannca_ caralho olha minhas perna truta  to...             0
..                                                 ...           ...
295  sou o prego de remendar havaianas https//tco/f...             1
296  dps de s√©culos usando a chinela do meu irm√£o k...             0
297  @pequenamasruim @havaianasbr tamb√©m n√£o t√¥ ten...             1
298     @drigoneves_ olha as havaianas a√≠ bblindaaasss             0
299  eu t√¥ besta que as havaianas j√° foram entregue...             0

[300 rows x 2 columns]

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que realiza an√°lise de sentimento e visualiza estes dados

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**